*{
    font-family:cursive;
    font-size:19px
}

.container{
    width: 100%;
    height: 100%;
    display: flex;

}

.container-header{
    height:60px;
    width: 100%;
    display: flex;
}

header{
    position: absolute;
    display: flex;
    height:60px;
    width: 100%;
    background-color:#8673a1;
    margin-left: -8px;
    margin-top: -8px;
}

.logo{
    height: 100%;
    width: 15%;
    display:block;
    text-align: center;
}

.logo img{
    height: inherit;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 150px;
    display:inline-flex;
}
li{
    float: left;
}

li a{
    display: block;
    color: #000000;
    padding: 7px 15px;
    text-decoration: none;
    text-align: center;
    font-size: large;
    border-radius: 30px;
} 

li a:hover{
    background-color: #bbb;
    color: white;
}

.menu{
    width: 75%;
    text-align: center;
    align-self: center;

}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin:auto;
    margin-top:60px; 
}

.mySlides{
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: #ffffff;
    width: auto;
    margin-top:-20px;
    padding: 15px;
    font-weight: bold;
    font-size:20px;
    transition:0.6s ease;
    border-radius:0 3px 3px 0;
    user-select: none;
}

.next{
    right:0;
    border-radius:3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color:rgba(247, 242, 242, 0.2);
}

.text{
    font-size:15px;
    padding: 8px 12s;
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align:center;
}

.numbertext{
    font-size:15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin:0 2px;
    background-color:#bbb;
    border-radius:50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hovers{
    background-color: #71717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade{
    from {opacity: .4;}
    to {opacity:1;}
}