*{
    font-family:Calibri;
}

.conteiner{
    width: 100%;
    height: 100%;
    display: flex;
}

.container-header{
    height:60px;
    width: 100%;
    display: flex;
}

header{
    position: absolute;
    display: flex;
    height:60px;
    width: 100%;
    background-color:#8673a1;
    margin-left: -8px;
    margin-top: -8px;
}

.logo{
    height: 100%;
    width: 15%;
    display:block;
    text-align: center;
}

.logo img{
    height: inherit;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 150px;
    display:inline-flex;
}
li{
    float: left;
}

li a{
    display: block;
    color: #000000;
    padding: 7px 15px;
    text-decoration: none;
    text-align: center;
    font-size: large;
    border-radius: 30px;
} 

li a:hover{
    background-color: #555;
    color: white;
}

.menu{
    width: 75%;
    text-align: center;
    align-self: center;

}

.slideshow-container{
    margin-top:60px;
}
